@model IEnumerable<Mvc.Models.mvcProductModel>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<br />

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("AddorEdit","tblProducts")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            <a href="@Url.Action("AddorEdit", "tblProducts", new {id=item.productId})" class="btn btn-default"><i class="fa fa-pencil"></i>Edit</a>
            <a onclick="Delete(@item.productId)" class="btn btn-default"><i class="fa fa-trash"></i>Delete</a>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '') {
                alertyfy.success(successMessage);
            }
        });
        function Delete(id) {
            alert('Are you sure to delete the recored');
            window.location.href = '@Url.Action("Delete","tblProducts")/'+id;
        }
    </script>
    }
